.text-truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  max-height: 7.5em;
}

/* Responsive con solo media queries Bootstrap */
@media (max-width: 575.98px) {
  .card {
    max-width: 20rem !important;
  }
  
  .card img {
    height: 350px !important;
  }
  
  .card-title {
    font-size: 1.25rem !important;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 32rem !important;
  }
}
