/* You can add global styles to this file, and also import other style files */
// 1. Sovrascrivi le variabili di colore prima di importare Bootstrap
$primary: #D32127; // arancione brillante
$secondary: #0066ff; // blu acceso
$success: #28a745; // verde
$danger: #dc3545; // rosso
$warning: #ffc107; // giallo
// Custom.scss

@import "bootstrap/scss/bootstrap";